

body {
    background: #d2d2c1 url(imagens/fundo.png);
    font: 16px Arial, Helvetica, sans-serif;
}

.fundo {
    background-image: url(imagens/fundo.png);
}

.foto-capa {
    width: 900px;
}

.botoes {
    color: rgb(49, 104, 47);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

a {
    color: #394a69;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.titulo {
    background-color: rgb(248, 241, 231);
    font-size: 1.2em;
    color: rgb(129, 119, 63);
    font-weight: 800;
    text-align: left;   
    
}

.fundo-texto {
    background-color: rgb(248, 241, 231);
    padding: 18px 18px;
    width: 870px;
    text-align: center;    
    
}

.conteudo-pagina {
    font-size: 16px;
    color: rgb(61, 22, 3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 25px;
    text-align: justify;

}

.imagens-campanhas {
    border-radius: 5px;
    border: 10px solid #c3c3ae;    

}

.contato {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;  
    text-align: left;
    
}

.rodape {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    text-align: center;  
    width: 900px; 
}

